<section class="l-recruit l-contents">
  <div class="l-recruit__wrapper">
    <h2>
      <span class="header-text recruit01">R</span>
      <span class="header-text recruit02">E</span>
      <span class="header-text recruit03">C</span>
      <span class="header-text recruit04">R</span>
      <span class="header-text recruit05">U</span>
      <span class="header-text recruit06">I</span>
      <span class="header-text recruit07">T</span>
    </h2>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>募集職種</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>アートディレクター / デザイナー</li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>業務内容</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>・ブランディング、広告プロモーション企画作成</li>
          <li>・プロジェクトの進行管理や、全体のアートディレクション</li>
          <li>・広告、アート、デジタル、映像、グラフィックのクリエイティブ開発</li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>応募資格</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>・実務経験3年以上の方</li>
          <li>・企画力、クリエイティブ開発の能力</li>
          <li>・クライアント担当者へのプレゼン能力</li>
          <li>・デジタルコミュニケーション領域(得意であれば尚可)</li>
          <li>・アートディレクター/デザイナーとしてのクリエイティブ制作、管理能力</li>
          <li>・Photoshop、Illustratorの操作ができる方(映像編集も尚可)</li>
        </ul>
        <div class="l-recruit__sub-text">
          <p>インターン(業務に携わりながらスキルを身につけたいという方)</p>
          <!-- <p class="sub-text pc">
            ※デザイン業界への就職を希望する大学3・4年生のインターンシップを受け入れております<br>
            デザイナー職希望者に限らず、企画、プランニング、コピーライティングに関心のある方も受け入れます<br>
            詳細については、お問い合わせください（書類選考あり）
          </p> -->
          <div class="attention">
            <p class="kome">※</p>
            <p class="sub-text">
              デザイン業界への就職を希望する大学3・4年生のインターンシップを受け入れております<br>
              デザイナー職希望者に限らず、企画、プランニング、コピーライティングに関心のある方も受け入れます<br>
              詳細については、お問い合わせください（書類選考あり）
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>雇用形態</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>契約社員、業務委託、アルバイト</li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>勤務場所</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>東京都渋谷区桜丘町29-35 7F(最寄り駅：渋谷)
            <p class="sub-text">※状況に応じて、リモートワーク可</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>給与待遇</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>経験・スキル・実績等を考慮し、提示の上決定
            <p class="sub-text">※採用後は試用期間あります<br>
              ※決算賞与あり、福利厚生あり、交通費規定支給（上限あり）
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>勤務時間</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>9:30 〜 17:30(土・日・祝休・夏季・年末年始)
            <p class="sub-text">※休憩1時間<br>
              ※採用時の雇用先と雇用形態により変動<br>
              ※繁忙期には休日出勤をお願いすることもあります
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__block">
      <div class="l-recruit__left">
        <p>応募方法</p>
      </div>
      <div class="l-recruit__right">
        <ul>
          <li>履歴書、職務経歴書、ポートフォリオを<br>必要事項をメールにてPDFデータをご送付ください
            <p class="sub-text">※書類選考の上、担当者よりメールにてご連絡をさせていただきます<br>
              ※面接・選考は必要に応じて複数回させていただく場合がございます<br>
              ※応募書類の情報は機密情報としてお取り扱いさせていただきます<br>
              ※応募書類の返却はいたしませんのでご了承ください
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-recruit__btn">
      <a href="mailto:info@honnow-tokyo.com">ENTRY</a>
    </div>
  </div>
  <div class="l-arrow gray">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
