<footer class="l-footer">
	<div class="l-footer__top">
		<h4>CONTACT</h4>
		<a href="#">info@honnow-tokyo.com</a>
		<h4>OFFICE</h4>
		<p>29-35 7F Sakuragaokacho Shibuya-ku,Tokyo,150-0031 JAPAN</p>
	</div>
 <!-- <div class="l-footer__top">
  <ul class="l-footer__top__list">
   <li>
    <div class="l-footer__block">
     <h4>CONTACT</h4>
     <p><a href="mailto:info@honnow-tokyo.com" class="mail">info@honnow-tokyo.com</a></p>
    </div>
   </li>
   <li>
    <div class="l-footer__block">
     <h4>OFFICE</h4>
     <p>19-5-1003 Udagawacho<br>
     Shibuya-ku, Tokyo<br>
     150-0042 JAPAN</p>
    </div>
   </li>
   <li>
    <div class="l-footer__block">
     <h4>SOCIAL</h4>
     <ul class="sns">
      <li>
       <a href="https://www.facebook.com/sharer.php?u=https://honnow-tokyo.com/" target="_blank"><img src="<%- data.layer %>assets/img/common/icon_footer_fb.svg" alt="" class=""></a>
      </li>
      <li>
       <a href="https://twitter.com/share?url=https://honnow-tokyo.com/" target="_blank"><img src="<%- data.layer %>assets/img/common/icon_footer_tw.svg" alt="" class=""></a>
      </li>
      <li>
       <a href="https://timeline.line.me/social-plugin/share?url=https://honnow-tokyo.com/" target="_blank"><img src="<%- data.layer %>assets/img/common/icon_footer_line.svg" alt="" class=""></a>
      </li>
     </ul>
    </div>
   </li>
  </ul>
 </div> -->
 <div class="l-footer__bottom">
  <p>COPYRIGHT © HONNOW INC. ALL RIGHTS RESERVED.</p>
 </div>
</footer>