<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details en">A</span><span class="c-sub-name-details en">N</span><span class="c-sub-name-details en">G</span><span class="c-sub-name-details en">F</span><span class="c-sub-name-details en">A</span></span>
    <h2><span class="c-name-details en">W</span><span class="c-name-details en">a</span><span class="c-name-details en">s</span><span class="c-name-details en">h</span><span class="c-name-details en">a</span><span class="c-name-details en">b</span><span class="c-name-details en">l</span><span class="c-name-details en">e B</span><span class="c-name-details en">o</span><span class="c-name-details en">o</span><span class="c-name-details en">k</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">P</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">m</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">t</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">n</span></span>
    <div class="l-details__web">
      <a href="https://www.angfa.jp/csr/washable-book/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle">
    <div class="l-details__movie block01">
      <div class="movie_block">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UedKBCKep4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- <video controls="" height="auto" width="1080" id="video">
        <source src="<%- data.layer %>assets/movie/washable-book.mp4" onclick="this.play();" />
      </video> -->
      <!-- <div class="l-details__movie__thumbnail"><img src="<%- data.layer %>assets/img/details/thumbnail/06.png" alt=""></div>
      <div id="video-btn" class="l-details__movie__video-btn"><img src="<%- data.layer %>assets/img/common/icon_movie.svg"
          alt=""></div> -->
    </div>
    <!-- <p>Washable Bookとは、水が浸透すると、カラフルな<br class="sp">隠し絵が現れる印刷技術（水透かし印刷）を応用し、<br>
    「石けんでページを洗うことで物語を楽しむ」<br class="sp">という体験を提供する、世界初の絵本です。<br>
    水に濡れる前の絵本は現在の子供たちの日常シーンを<br class="sp">描いており、<br class="pc">右ページの汚れた手を石けんで<br class="sp">きれいに洗い流すと、
    夢が叶った<br class="sp">ミライの姿が現れます。<br class="">手洗いによって”「ミライ」を変えられる”という事を、<br class="sp">子供たちが実感し理解することを目的としています。</p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">ANGFA / SAVE SOAP PROJECT</span>
    </h3>
    <div class="l-details__credits">
      <dl class="full">
        <dt>Executive Creative Director,Creative Director, Planner</dt>
        <dd>Shunsuke Kakinami（McCann Health Japan）</dd>
      </dl>
      <dl class="full">
        <dt>Art Director, Illustrator</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl class="full">
        <dt>Senior Copywriter, Experience Designer</dt>
        <dd>Mai Kaneda（McCann Health Japan）</dd>
      </dl>
      <dl class="full">
        <dt>Print Producer</dt>
        <dd>Hideki Kanishi（McCann Health Japan）</dd>
      </dl>
      <dl class="full">
        <dt>Account Director</dt>
        <dd>Shinichiro Oku（McCann Health Japan）</dd>
      </dl>
      <dl class="full">
        <dt>Art Director</dt>
        <dd>Hisashi Matsui</dd>
      </dl>
      <dl class="full">
        <dt>Executive Creative Director</dt>
        <dd>Sean Riley（McCann Health Singapore）</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


