<section class="l-details l-contents">
  <div class="l-details__top">
    <h2>
      <span>Lighthouse</span>
      unspoken, uae
    </h2>
    <div class="l-details__web">
      <a href="https://www.thestable.com.au/mccann-health-dubai-the-lighthouse-centre-for-well-being-because-talking-about-mental-illness-is-complicated/" target="_blank">WEBSITE</a>
    </div>
  </div>
  <div class="l-details__middle">
    <div class="l-details__movie">
      <video controls="" height="auto" width="1080" id="video">
        <source src="<%- data.layer %>assets/movie/unspoken-uae.mp4" onclick="this.play();" />
      </video>
      <div class="l-details__movie__thumbnail"><img src="<%- data.layer %>assets/img/details/thumbnail/08.png" alt=""></div>
      <div id="video-btn" class="l-details__movie__video-btn"><img src="<%- data.layer %>assets/img/common/icon_movie.svg"
          alt=""></div>
    </div>
    <p>アラブ首長国連邦のメンタルヘルス相談センター、<br class="sp">Lighthouseのプロジェクトに参画。<br>
      ドバイのうつ病潜在患者である若者の自死を<br class="sp">防ぐために、<br class="pc">
      若者が抱える心の病(=インサイト)を<br class="sp">世界各国のアーティストがビジュアライズし、<br class="sp">イラストブックとして発表。<br>
      若者によりそい、病院での診断へとつなげることを<br class="sp">目的としました。</p>
  </div>
  <div class="l-details__bottom">
    <h3>CREDITS</h3>
    <div class="l-details__credits">
      <dl>
        <dt class="w175">General Manager</dt>
        <dd>Karen Kamel（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Regional Head of Strategy</dt>
        <dd>Tahaab Rais（FP7 McCann Worldgroup MENAT）</dd>
      </dl>
      <dl>
        <dt class="w175">Creative Director</dt>
        <dd>Robert Gibbs（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Graphic Designer</dt>
        <dd>Haneen Chaarawi（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Senior Account Director</dt>
        <dd>Vicky Kriplani（FP7 McCann Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Account Manager</dt>
        <dd>Zainab Mustafa（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Graphic Designer</dt>
        <dd>Kurt Daley（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Health Designer</dt>
        <dd>Kara Marie Guingona（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Creative Artworker</dt>
        <dd>Asif Khan（McCann Health Dubai）</dd>
      </dl>
      <dl>
        <dt class="w175">Retouch Artist</dt>
        <dd>Amit Borawake（FP7 McCann Dubai）</dd>
      </dl>
      <dl class="full oneblock">
        <dt class="w175">The Artists</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）, Drew Bristow, Leendert Masselink, Paula Coop McCrory, <br class="sp">Kurt Daley, Kristy Anne Ligones,<br>
        Haneen Chaarawi, Marah Walid, Kara Guingona, Tin Cura, Ralph Gabriel, Shreya Kumar, Eldaveo, sleepysun.illust,<br class="pc">
        Andaleeb Rizwan, Myrto Petrou, Clara Ilena, Regli Núñez, Dina Sami, <br class="sp">Lana Milburn, Winona Lichner, Mimoquirks,<br class="pc">
        G1885, Temour Al Husban, Shira Noc, <br class="sp">Arnold De Guzman, Dav Andrew, Mohamed Hassa</dd>
      </dl>
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


