<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">京</span><span class="c-sub-name-details">都 清</span><span class="c-sub-name-details">水</span><span class="c-sub-name-details">寺 圓</span><span class="c-sub-name-details">通</span><span class="c-sub-name-details">殿</span></span>
    <h2><span class="c-name-details">日</span><span class="c-name-details">本</span><span class="c-name-details">☓</span><span class="c-name-details">ポ</span><span class="c-name-details">ー</span><span class="c-name-details">ラ</span><span class="c-name-details">ン</span><span class="c-name-details">ド 国</span><span class="c-name-details">交</span><span class="c-name-details">樹</span><span class="c-name-details">立</span><span class="c-name-details">1</span><span class="c-name-details">0</span><span class="c-name-details">0</span><span class="c-name-details">周</span><span class="c-name-details">年</span><span class="c-name-details">記</span><span class="c-name-details">念 藝</span><span class="c-name-details">展</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">A</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">t</span></span>
    <!-- <div class="l-details__web">
      <a href="https://www.qualiart.co.jp/works/detail.php?kijiId=20181102175000" target="_blank">WEB</a>
    </div> -->
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/kiyomizu/geiten.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow pc">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


