<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">戸</span><span class="c-sub-name-details">隠 も</span><span class="c-sub-name-details">の</span><span class="c-sub-name-details">の</span><span class="c-sub-name-details">け</span><span class="c-sub-name-details">祭</span><span class="c-sub-name-details">り</span></span>
    <h2><span class="c-name-details">幟</span><span class="c-name-details">旗</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">A</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">t</span></span>
    <div class="l-details__web">
      <a href="https://mononoke-matsuri.jp" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/mononoke/mononoke_01.jpg" alt="" class="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/mononoke/mononoke_02.jpg" alt="" class="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


