<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">や</span><span class="c-sub-name-details">ん</span><span class="c-sub-name-details">ば</span><span class="c-sub-name-details">る</span><span class="c-sub-name-details">ア</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">ト</span><span class="c-sub-name-details">フ</span><span class="c-sub-name-details">ェ</span><span class="c-sub-name-details">ス</span><span class="c-sub-name-details">テ</span><span class="c-sub-name-details">ィ</span><span class="c-sub-name-details">バ</span><span class="c-sub-name-details">ル</span></span>
    <h2><span class="c-name-details en">G</span><span class="c-name-details en">A</span><span class="c-name-details en">J</span><span class="c-name-details en">Y</span><span class="c-name-details en">U</span><span class="c-name-details en">M</span><span class="c-name-details en">A</span><span class="c-name-details en">R</span><span class="c-name-details en">Y</span><span class="c-name-details en">U</span></h2>
    <div class="l-details__web">
      <a href="http://yambaru-artfes.jp" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/09.png" alt="">
    </div>
    <!-- <p class="no-bottom">沖縄のやんばるにある、旧塩屋小学校の体育館にて<br class="sp">全長8mにおよぶ巨大掛け軸を制作。<br>
      生命力に満ちたガジュマルの樹をモチーフに、<br class="sp">強いパワーを持つ龍を描いたこの作品は、<br>
      やんばるを災害から守り、人々にやすらぎや<br class="sp">自然の力を届けたいという願いを込めました。<br>
      龍の花には、幸せをもたらす精霊の<br class="sp">キジムナーが宿っています。</p> -->
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


