<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">S</span><span class="c-sub-name-details">m</span><span class="c-sub-name-details">a</span><span class="c-sub-name-details">r</span><span class="c-sub-name-details">t</span><span class="c-sub-name-details">w</span><span class="c-sub-name-details">e</span><span class="c-sub-name-details">b</span></span>
    <h2><span class="c-name-details">ふ</span><span class="c-name-details">わ</span><span class="c-name-details">ナ</span><span class="c-name-details">チ</span><span class="c-name-details">ュ</span><span class="c-name-details">ラ</span><span class="c-name-details">ル</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">B</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">a</span><span class="c-sub-name-bottom-details en">n</span><span class="c-sub-name-bottom-details en">d</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">n</span><span class="c-sub-name-bottom-details en">g</span></span>
    <div class="l-details__web">
      <a href="https://prtimes.jp/main/html/rd/p/000000025.000048340.html" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/fuwa_natural/fuwa_natural_01.jpg" alt="" class="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/fuwa_natural/fuwa_natural_02.jpg" alt="" class="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/fuwa_natural/fuwa_natural_03.jpg" alt="" class="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>

