<section class="l-details l-contents">
  <div class="l-details__top">
    <h2>
      <span>Disney</span>
      FAN ART
    </h2>
    <!-- <div class="l-details__web">
      <a href="">WEBSITE</a>
    </div> -->
  </div>
  <div class="l-details__middle one-scroll-contents">
    <div class="l-details__scroll-area">
      <div class="main-area"><img src="<%- data.layer %>assets/img/details/makimono.jpg" alt="" height="1218" width="51438" alt="" class="imgH"></div>
      <div class="bottom-area">
        <span class="bottom"></span>
        <div class="scroll-area">SCROLL</div>
      </div>
    </div>
    <img src="<%- data.layer %>assets/img/details/15.png" alt="" class="pc">
  </div>
  <div class="l-arrow pc">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


