<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">長</span><span class="c-sub-name-details">野</span><span class="c-sub-name-details">県</span><span class="c-sub-name-details">庁</span></span>
    <h2><span class="c-name-details">信</span><span class="c-name-details">州</span><span class="c-name-details">ス</span><span class="c-name-details">タ</span><span class="c-name-details">ー</span><span class="c-name-details">ト</span><span class="c-name-details">ア</span><span class="c-name-details">ッ</span><span class="c-name-details">プ</span><span class="c-name-details">ス</span><span class="c-name-details">テ</span><span class="c-name-details">ー</span><span class="c-name-details">シ</span><span class="c-name-details">ョ</span><span class="c-name-details">ン</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">L</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">o D</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">s</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">n</span></span>
    <div class="l-details__web">
      <a href="https://www.pref.nagano.lg.jp/keieishien/sangyo/shokogyo/sogyo/sss.html" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/sss/sss_01.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


