<section class="l-details l-contents">
  <div class="l-details__top">
    <h2>
      <span>筋トレフード専門　EC事業</span>
      KINTORI Official Logo
    </h2>
    <!-- <div class="l-details__web">
      <a href="https://www.pref.nagano.lg.jp/keieishien/sangyo/shokogyo/sogyo/sss.html?fbclid=IwAR2opdaJqy1IsG1Fv66ATbdJbEhAr6zKfQ8r9_QVL8lkfBu18FkThdmYhVs" target="_blank">WEBSITE</a>
    </div> -->
  </div>
  <div class="l-details__middle one-contents">
    <img src="<%- data.layer %>assets/img/details/23.png" alt="">
  </div>
  <div class="l-details__bottom">
    <h3>CREDITS</h3>
    <div class="l-details__credits">
      <dl>
        <dt class="w140">Creative Director</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt class="w140">Copywriter</dt>
        <dd>Syuhei Okazawa（971）</dd>
      </dl>
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


