<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">ば</span><span class="c-sub-name-details">ん</span><span class="c-sub-name-details">ぺ</span><span class="c-sub-name-details">い</span><span class="c-sub-name-details">ゆ</span><span class="c-sub-name-details">マ</span><span class="c-sub-name-details">ネ</span><span class="c-sub-name-details">ジ</span><span class="c-sub-name-details">メ</span><span class="c-sub-name-details">ン</span><span class="c-sub-name-details">ト</span></span>
    <h2><span class="c-name-details en">O</span><span class="c-name-details en">f</span><span class="c-name-details en">f</span><span class="c-name-details en">i</span><span class="c-name-details en">c</span><span class="c-name-details en">i</span><span class="c-name-details en">a</span><span class="c-name-details en">l W</span><span class="c-name-details en">e</span><span class="c-name-details en">b</span><span class="c-name-details en">s</span><span class="c-name-details en">i</span><span class="c-name-details en">t</span><span class="c-name-details en">e</span></h2>
    <div class="l-details__web">
      <a href="https://bampeiyu-mgmt.com/" target="_blank">WEBSITE</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/25.png" alt="" class="line">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/26.png" alt="" class="line">
    </div>
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">BAMPEIYU MANAGEMENT</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt>Art Director&Designer</dt>
        <dd>Yoshimi Fujita（IKA Inc.）</dd>
      </dl>
      <dl>
        <dt>Creative Director</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt>Web Director</dt>
        <dd>Motoki Sado</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


