<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">学</span><span class="c-sub-name-details">校</span><span class="c-sub-name-details">法</span><span class="c-sub-name-details">人 練</span><span class="c-sub-name-details">馬</span><span class="c-sub-name-details">み</span><span class="c-sub-name-details">ど</span><span class="c-sub-name-details">り</span><span class="c-sub-name-details">学</span><span class="c-sub-name-details">園 田</span><span class="c-sub-name-details">柄</span><span class="c-sub-name-details">幼</span><span class="c-sub-name-details">稚</span><span class="c-sub-name-details">園</span></span>
    <h2><span class="c-name-details">ト</span><span class="c-name-details">コ</span><span class="c-name-details">ト</span><span class="c-name-details">コ</span><span class="c-name-details">た</span><span class="c-name-details">が</span><span class="c-name-details">ら</span><span class="c-name-details">ん</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">C</span><span class="c-sub-name-bottom-details en">h</span><span class="c-sub-name-bottom-details en">a</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">a</span><span class="c-sub-name-bottom-details en">c</span><span class="c-sub-name-bottom-details en">t</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">r D</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">s</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">n</span></span>
    <div class="l-details__web">
      <a href="http://tagara-yochien.com/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/tokotoko/tokotokotagaran_01.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/tokotoko/tokotokotagaran_02.jpg" alt="" class="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


