<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">佐</span><span class="c-sub-name-details">藤</span><span class="c-sub-name-details">繊</span><span class="c-sub-name-details">維</span></span>
    <h2><span class="c-name-details en">k</span><span class="c-name-details en">o</span><span class="c-name-details en">n</span><span class="c-name-details en">e</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">L</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">o D</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">s</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">n</span></span>
    <div class="l-details__web">
      <a href="https://www.instagram.com/kone_satoseni/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/kone/kone-logo.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


