<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">丸</span><span class="c-sub-name-details">金</span></span>
    <h2><span class="c-name-details">木</span><span class="c-name-details">の</span><span class="c-name-details">子</span><span class="c-name-details">え</span><span class="c-name-details">の</span><span class="c-name-details">き</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">B</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">a</span><span class="c-sub-name-bottom-details en">n</span><span class="c-sub-name-bottom-details en">d</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">n</span><span class="c-sub-name-bottom-details en">g</span></span>
    <div class="l-details__web">
      <a href="https://www.marukin.jp/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/marukin/marukin_01.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/marukin/marukin_02.jpg" alt="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/marukin/marukin_03.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


