<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">日</span><span class="c-sub-name-details">本</span><span class="c-sub-name-details">パ</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">プ</span><span class="c-sub-name-details">ル</span></span>
    <h2><span class="c-name-details en">M</span><span class="c-name-details en">A</span><span class="c-name-details en">M</span><span class="c-name-details en">O</span><span class="c-name-details en">R</span><span class="c-name-details en">U</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">L</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">o D</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">s</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">g</span><span class="c-sub-name-bottom-details en">n</span></span>
    <div class="l-details__web">
      <a href="http://tagara-yochien.com/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/mamoru/mamoru_logo_01.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/mamoru/mamoru_logo_02.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


