<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">京</span><span class="c-sub-name-details">都</span><span class="c-sub-name-details">広</span><span class="c-sub-name-details">告</span><span class="c-sub-name-details">業</span><span class="c-sub-name-details">協</span><span class="c-sub-name-details">会</span></span>
    <h2><span class="c-name-details">第</span><span class="c-name-details">2</span><span class="c-name-details">7</span><span class="c-name-details">回 京</span><span class="c-name-details">都</span><span class="c-name-details">広</span><span class="c-name-details">告</span><span class="c-name-details">賞</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">A</span><span class="c-sub-name-bottom-details en">D</span></span>
    <div class="l-details__web">
      <a href="https://www.kaaa.jp/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/koukoku_27/kyoto-ad_01.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


