<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">毎</span><span class="c-sub-name-details">日</span><span class="c-sub-name-details">新</span><span class="c-sub-name-details">聞</span><span class="c-sub-name-details">社</span></span>
    <h2><span class="c-name-details">第</span><span class="c-name-details">8</span><span class="c-name-details">1</span><span class="c-name-details">回 毎</span><span class="c-name-details">日</span><span class="c-name-details">広</span><span class="c-name-details">告</span><span class="c-name-details">デ</span><span class="c-name-details">ザ</span><span class="c-name-details">イ</span><span class="c-name-details">ン</span><span class="c-name-details">賞</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">A</span><span class="c-sub-name-bottom-details en">D</span></span>
    <div class="l-details__web">
      <a href="https://macs.mainichi.co.jp/design/ad-m/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/mainichi_81/mainichi-ad_01.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


