<section class="l-details l-contents">
  <div class="l-details__top">
    <span class="top-text"><span class="c-sub-name-details">ポ</span><span class="c-sub-name-details">ケ</span><span class="c-sub-name-details">モ</span><span class="c-sub-name-details">ン</span><span class="c-sub-name-details">カ</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">ド</span><span class="c-sub-name-details">ゲ</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">ム</span></span>
    <h2 class="header-text"><span class="c-name-details">ス</span><span class="c-name-details">タ</span><span class="c-name-details">ー</span><span class="c-name-details">ト</span><span class="c-name-details">デ</span><span class="c-name-details">ッ</span><span class="c-name-details">キ</span><span class="c-name-details">1</span><span class="c-name-details">0</span><span class="c-name-details">0</span></h2>
    <span class="bottom-text bottom"><span class="c-sub-name-bottom-details en">T</span><span class="c-sub-name-bottom-details en">V</span><span class="c-sub-name-bottom-details en">C</span><span class="c-sub-name-bottom-details en">M</span></span>
    <!-- <div class="l-details__web">
      <a href="https://www.pref.nagano.lg.jp/keieishien/sangyo/shokogyo/sogyo/sss.html?fbclid=IwAR2opdaJqy1IsG1Fv66ATbdJbEhAr6zKfQ8r9_QVL8lkfBu18FkThdmYhVs" target="_blank">WEBSITE</a>
    </div> -->
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__movie block01">
      <div class="movie_block">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dl7zgBBC3pU?modestbranding=1&iv_load_policy=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="l-details__movie block02 mt-40">
      <div class="movie_block">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9YsaD7jCEqQ?controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


