<div id="p-details">
  
  <div id="detail" class="yoko animsition">
    <div id="wrapper">
      <div id="content" class="">
        <img src="<%- data.layer %>assets/img/top/makimono.jpg" height="1218" width="51438" alt="" class="imgH">
        <!-- <div class="imgBg"></div> -->
        <div class="fixed-area">
          <span class="text">DISNEY MAKIMONO</span>
          <a class="animsition-link css-cancel" href="<%- data.layer %>" data-animsition-out-class="zoom-out-sm"></a>
        </div>
        <div class="bottom-area">
          <span class="bottom"></span>
          <img src="<%- data.layer %>assets/img/top/scroll-left.svg" alt="">
        </div>
      </div>
      
    </div>
    <div class="bg"></div>
  </div>
  
  
</div>

<!-- <%- include('../../_components/_contact.ejs', {
  data: {
    layer: data.layer,
  }
} ) %> -->
