<div class="c-btn <% if(data.class!==''){ %><%- data.class %><% } %>">
    <a href="<%- data.link %>" <% if(data.target!==""){ %> target="<%- data.target %>"<% } %>>
        <span class="text"><%- data.text %></span>
        <span class="arrow"></span>
        <span class="arrow2"></span>
    </a>
</div>
