<div class="c-foot-contact js__tsc js__obj-close">
  <p class="c-foot-contact__title js__slide-right-chain">CONTACT</p>
  <p class="c-foot-contact__text js__slide-right-chain">ご意見・ご質問など、お問い合わせは、<br class="sp">下記フォームまたはお電話でお願いいたします。</p>
  <div class="c-foot-contact__action js__slide-right-chain">
    <div class="c-btn-contact">
        <a href="<%- data.layer %>contact/"><span class="text">CONTACT FORM</span><span class="arrow"><svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="30px" height="25px" viewBox="0 0 30 25">
        <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
          d="M19.672,24.747 L8.943,16.760 L27.295,2.273 L7.203,15.464 L0.000,10.100 L30.000,-0.000 L19.672,24.747 ZM7.131,25.000 L7.131,17.172 L12.378,20.835 L7.131,25.000 Z"/>
        </svg></span></a>
      </div>
  </div>
  <p class="c-foot-contact__tel js__slide-right-chain">
    <span class="tel">TEL.</span><span class="number"><a href="tel:052-222-0718">052-222-0718</a></span>
  </p>
</div>
