<div id="p-kv" class="l-kv">
  <div id="p-kv__content">
    <div id="p-kv__title"><span class="en js__split"><span class="js__clone">HELLO WORLD. <br class="sp" />WE ARE OKAYA SYSTEM.</span></span></div>
    <div id="p-kv__line"></div>
  </div>

  <div id="p-kv__scroll"><span class="arrow"></span><span class="text">SCROLL</span></div>
</div>
