<div class="js__tsc">
    <h2 class="c-lowlayer-title js__headline-title">
        <span class="glitter"></span>
        <span class="en">
            <span class="js__split">
                <span class="js__clone"><%- data.textEn %></span>
            </span>
        </span>
        <span class="jp">
            <span class="js__split">
                <span class="js__clone"><%- data.textJp %></span>
            </span>
        </span>
        <span class="line"></span>
    </h2>
</div>
