<div id="l-lowlayer-kv" class="l-kv js__tsc-kv">
    <div id="l-lowlayer-kv__inner" class="js__tsc-title">
        <div id="l-lowlayer-kv__text">
            <p id="l-lowlayer-kv__en" class="js__split"><span class="js__clone"><%- data.en %></span></p>
            <h1 id="l-lowlayer-kv__jp" class="js__split2"><span class="js__clone"><%- data.jp %></span></h1>
        </div>
    </div>
</div>
    
