<div class="p-compare__modal">
	<div class="p-compare__modal__wrap p-compare__modal01" id="modal01">
		<div class="p-compare__modal__inner">
			<div class="p-compare__modal-content">
				<p class="title">備長炭繊維</p>
				<div class="p-compare__modal-content__img">
					<div class="p-compare__modal-content__img__item">
						<img class="pc" src="./assets/img/top/b-modal_binchotan.jpg">
						<img class="sp" src="./assets/img/top/sp/b-modal_binchotan.jpg">
					</div>
				</div>
				<p class="text">携帯用備長炭を練り込んだ繊維を使用した、吸水性・放湿性に優れたクッション構造のハニカム素材です。厚みのあるメッシュで重厚感がありながらも、柔らかい触り心地です。</p>
			</div>
		</div>
	</div>
	<div id="back01" class="back">
		<span></span>
		<span></span>
	</div>
</div>
<div class="p-compare__modal">
	<div class="p-compare__modal__wrap p-compare__modal02" id="modal02">
		<div class="p-compare__modal__inner">
			<div class="p-compare__modal-content">
				<p class="title">お手玉</p>
				<div class="p-compare__modal-content__img">
					<div class="p-compare__modal-content__img__item">
						<img class="pc" src="./assets/img/top/b-modal_otedama_01.jpg">
						<img class="sp" src="./assets/img/top/sp/b-modal_otedama_01.jpg">
						<p class="sub-title">ジムナストチャコ</p>
					</div>
					<div class="p-compare__modal-content__img__item">
						<img class="pc" src="./assets/img/top/b-modal_otedama_02.jpg">
						<img class="sp" src="./assets/img/top/sp/b-modal_otedama_02.jpg">
						<p class="sub-title">ジムナストコロン</p>
					</div>
				</div>
				<p class="text">ジムナストシリーズには頭をのせる部位・役割によって数種類の異なる中材が使われています。ジムナストチャコとジムナストコロンは、それぞれの中材をお手玉のように包装することで、バラバラと散らばることなく、とてもカンタンにまくらの高さ調整ができるようになりました。</p>
			</div>
		</div>
	</div>
	<div id="back02" class="back">
		<span></span>
		<span></span>
	</div>
</div>

<div id="modal-bg"></div>