<h2 class="l-section__title js__tsc-title">
    <span class="en js__split"><span class="js__clone"><%- data.en %></span></span>
    <span class="jp js__split2"><span class="js__clone"><%- data.jp %></span></span>
    <span class="glitter js__slide-right-chain-text"></span>
</h2>
