<div id="p-404">
  <%- include('../../_components/_lowlayerTitle.ejs', {
    data: {
      textEn: '404 NOT FOUND',
    }
  } ) %>

  <div id="p-404-contents">
    <div class="p-404-section">
      <div class="p-404-section__inner">
        <div class="title">
          <p>お探しのページはみつかりません。</p>
        </div>
        <div class="text">
          <p>お探しのページは一時的にアクセス出来ない状況にあるか、<br class="pc">移動もしくは削除された可能性があります。</p>
        </div>
        <div class="c-foot-contact__action">
          <div class="c-btn-contact">
              <a href="../index.html"><span class="text">HOME</span></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ここに下層お問い合わせ部分（共通パーツ）を後ほど埋め込みます -->
